* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: 'trebuchet ms', arial;
}

.assign {
  width: 650px;
  height: fit-content;
  padding: 1rem;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
}

.assign > * {
  margin: .5rem 0;
}

.assign input {
  width: 300px;
  padding: .5rem;
  border: 1px solid #ccc;
  border-radius: 0;
}

@media (max-width: 638px) {
  .assign input {
    width: 100%;
  }
}

.assign div[title="Current"] {
  padding: 1rem;
  text-align: center;
  background-color: #ececec;
}

.assign .classes-list {
  padding: 1rem;
  background-color: #ececec;
}

.assign .classes-list > div {
  padding: .5rem;
  margin: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #000;
}

.assign .classes-list > div > div {
  padding: .5rem;
  margin: .5rem;
  letter-spacing: 1px;
  border-radius: 4px;
  color: #fff;
  background-color: orangered;
}